body {
    background:linear-gradient( to left ,black , darkgray , green , blue , red )
    
}

a {
    color: white;
    font-style: italic;
    
}

h1 {
    color: yellow;

}

li {
    border: yellow solid 3px;
    max-width: 100px;
}
