body {
    background: rgb(193, 4, 231);
    
}
h1 {
    color: ghostwhite;

}

p {
    color: white;
    font-size: 20px;
    
}


.boton {
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    padding: 10px 5px;
    border: 1px solid #000000;
    color: #ffffff;
    background: #c3c3c3;
    margin: auto;
    }
    
    
.boton:hover {
    border: 0px;
    opacity: 0.7;
    }

.boton.azul {
     background: #3498db;
        }

.boton.rojo {
    background: #e74c3c;
        }

 .boton.verde {
    background: #1abc9c;
 }      

 boton.mediano {
    font-size: 18px;
 }
 
 boton.redondo {
    border-radius: 30%;
 }  
